.boardWrapper {
  width: 100vw;
  font-size: 13px;
  min-width: 300px;
  min-height: 300px;
  border-radius: 8px;
  position: relative;
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  background: #F4F7FA;
  box-shadow: 0px 35px 90px 0px #00000022;
  color: #616165;
}

.boxes {
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.boardLeft {
  display: flex;
  flex-flow: column-reverse;
  position: absolute;
  height: 100%;
  padding-top: 20px;
  margin-top: -3px;
  top: 0;
  left: 16px;
  z-index: 1;
}

.boardLeftItem {
  display: flex;
  flex-grow: 1;
  align-items: start;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
}

.boardBottom {
  display: flex;
  flex-flow: row;
  position: absolute;
  width: 100%;
  margin-left: -17px;
  padding-left: 20px;
  bottom: 15px;
  z-index: 1;
  left: 0;
}

.boardBottomItem {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 14px;
}

.colorWhite {
  color: #E8EDF9;
}

.colorBlack {
  color: #B7C0D8;
}

.gameWon {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .7);
  color: white;
  font-size: 20px;
}

.newGameButton {
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
  transition: 0.3s;
  font-size: 16px;
  padding: 13px 16px;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 12px 28px 0px #00000033;
  background-color: orangered;
  animation: jump-shaking 1s ease-in-out infinite;
}

.newGameButton:hover {
  filter: brightness(90%);
}

.chessLogo {
  width: 200px;
}

@keyframes jump-shaking {
  0% {
      transform: translateX(0);
  }

  25% {
      transform: translateY(0);
  }

  35% {
      transform: translateY(0) rotate(4deg);
  }

  55% {
      transform: translateY(0) rotate(-4deg);
  }

  65% {
      transform: translateY(0) rotate(4deg);
  }

  70% {
      transform: translateY(0) rotate(-4deg);
  }

  75% {
      transform: translateY(0) rotate(0);
  }

  100% {
      transform: translateY(0) rotate(0);
  }
}

@media (max-width: 700px) {
  .boardWrapper {
    font-size: 9px;
  }
}

@media (max-width: 630px) {
  .boardWrapper {
    font-size: 7px;
  }
}