@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.chess-app {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  padding: 35px;
  background-image: url(../src/assets/backgroundimage.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}