*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu';
}

.chess-app {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  padding: 35px;
  background:
    linear-gradient(rgb(53, 153, 14),
      transparent),
    linear-gradient(90deg,
      rgb(3, 91, 126),
      transparent),
    linear-gradient(-90deg,
      rgb(70, 96, 170),
      transparent);
  background-blend-mode: screen;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}